[submodule "libs/SDL-mirror"]
	path = libs/SDL-mirror
	url = https://github.com/spurious/SDL-mirror.git
	ignore = dirty
[submodule "libs/LuaJIT"]
	path = libs/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
