[submodule "libs/LuaJIT"]
	path = libs/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
	ignore = dirty
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
